{% extends 'base.html' %}

{% block content %} 
        <form method="post" style="margin: 100px;">
            {% csrf_token %} 
            <p>Are you sure you want to delete "{{ object }}"?</p>   

                <div style="margin: 50px; "> 
                    <h1>Student details of {{object}}</h1>
                                                
                            Roll  no    :{{ object.id}} <br>
                            Name        :{{ object.name}}<br>
                            Department  :{{ object.department}} <br><br><br>
                    <input type="submit" value="Confirm">
                </div>

                <br><br>
                <a href="/" type="button" class = "btn btn-primary">Student List</a>
            
            
        </form>

{% endblock %}