{% extends 'base.html' %}

{% block content %} 

<div style="margin-left: 80px; padding: 50px">
        <h1>Student Database</h1>
        <h1>Today we are going to discuss on Function Based View FBV-CRUD operation.(Create, Retrive, Update, Delete)</h1>
        <!---
        {% for object in object_list %}
        {{ object.name }}<br><br>
        {% endfor %}
        -->

        <!-- Display Objects -->
                {% for object in object_list %}
                        <li>Roll.no         : {{ object.id }}</li>
                        <li>Name         : {{ object.name }}</li>
                        <li>Department   :{{ object.department }}</li>

                            <a href = "{{ object.id }}/studentdetail/" type="button" class="btn btn-primary">Details</a>
                            <a href = "{{ object.id }}/studentupdate/" type="button" class="btn btn-success">Update</a>
                            <a href = "{{ object.id }}/studentdelete/" type="button" class="btn btn-danger">Delete</a>
                            <hr><hr>
                        <!-- If object_list is empty  -->

                {% endfor %}
</div>
{% endblock %}